@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.main_box {
  height: 735px;
  background-repeat: no-repeat;
  background-image: url(images/main_images/main_bgi.jpg);
  background-position: center;
  background-size: cover;
}

.head {
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid #fff;
}
.head_mobile {
  display: none;
}
.head_logo {
  width: 198px;
  height: 44px;
}
.head_logo_img {
  padding-top: 4px;
}
.head_input {
  width: 288px;
  height: 41px;
  border-radius: 20px;
  border: 1px solid #fff;
  background-color: transparent;
  padding-left: 32px;
  padding-right: 32px;
  box-sizing: border-box;
  outline: none;
  color: #fff;
}
.head_input::-moz-placeholder {
  color: #fff;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
}
.head_input::placeholder {
  color: #fff;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
}
.head_links {
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
  color: #fff;
}
.head_links_box {
  display: flex;
  gap: 32px;
}

.main_text {
  padding-top: 64px;
}
.main_text h1 {
  font-size: 64px;
  font-weight: 600;
  line-height: 70px;
  color: #fff;
  padding-bottom: 16px;
}
.main_text p {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  color: #fff;
  padding-bottom: 16px;
}
.main_text a {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-decoration-line: underline;
  color: #fff;
}

.furniture_for_box {
  padding-top: 64px;
}

.furniture_for {
  padding-top: 32px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  -moz-column-gap: 32px;
       column-gap: 32px;
  row-gap: 32px;
}
.furniture_for_item {
  grid-column: span 4;
  height: 415px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 34px;
  font-weight: 600;
  line-height: 41.45px;
  color: #fff;
}
.furniture_for_item_text {
  font-size: 48px;
  font-weight: 600;
  line-height: 58.51px;
}
.furniture_for_item_1 {
  background-image: url(images/furniture_for/first.jpg);
}
.furniture_for_item_2 {
  background-image: url(images/furniture_for/second.jpg);
}
.furniture_for_item_3 {
  background-image: url(images/furniture_for/third.jpg);
}
.furniture_for_item_4 {
  background-image: url(images/furniture_for/fourth.jpg);
}
.furniture_for_item_5 {
  background-image: url(images/furniture_for/fifth.jpg);
}
.furniture_for_item_bigger {
  grid-column: span 6;
}

.product_box {
  padding-top: 64px;
}

.product_content {
  display: flex;
  -moz-column-gap: 32px;
       column-gap: 32px;
  row-gap: 56px;
  padding-top: 32px;
  flex-wrap: wrap;
}

.product {
  width: 378px;
}
.product_special {
  font-size: 48px;
  font-weight: 600;
  line-height: 58.51px;
}
.product_img {
  height: 250px;
}
.product_name {
  font-size: 24px;
  font-weight: 500;
  line-height: 29.26px;
  text-decoration: none;
  color: #000;
}
.product_text {
  padding-top: 8px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17.07px;
  color: #888;
}
.product_price {
  font-size: 24px;
  font-weight: 500;
  line-height: 29.26px;
}
.product_price_sale {
  font-size: 24px;
  font-weight: 500;
  line-height: 29.26px;
  text-align: left;
  text-decoration-line: line-through;
  color: #888;
}
.product_price_box {
  display: flex;
  -moz-column-gap: 32px;
       column-gap: 32px;
  padding-top: 12px;
}
.product_link {
  padding-top: 32px;
  padding-bottom: 64px;
}
.product_link_a {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-decoration-line: underline;
  color: #000;
}

.footer_box {
  background-color: #F7F6F6;
  background-size: cover;
  height: 207px;
}

.footer_content {
  display: flex;
  padding-top: 32px;
}

.footer_menu {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}
.footer_menu_zero {
  padding-right: 212px;
}
.footer_menu_first {
  padding-right: 129px;
}
.footer_menu_second {
  padding-right: 192px;
}
.footer_menu_third {
  row-gap: 8px;
}
.footer_menu_h1 {
  font-size: 24px;
  font-weight: 500;
  line-height: 29.26px;
}
.footer_menu_links {
  font-size: 14px;
  font-weight: 400;
  line-height: 17.07px;
  color: #888888;
  text-decoration: none;
}
.footer_menu_social {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.footer_menu_p {
  font-size: 12px;
  font-weight: 400;
  line-height: 14.63px;
}
.footer_menu_input {
  width: 260px;
  height: 40px;
  border-radius: 16px;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  padding-left: 17px;
  padding-right: 17px;
  outline: none;
}
.footer_menu_input::-moz-placeholder {
  font-family: "Montserrat";
  font-size: 12px;
  font-weight: 400;
  line-height: 14.63px;
  color: #C4C4C4;
}
.footer_menu_input::placeholder {
  font-family: "Montserrat";
  font-size: 12px;
  font-weight: 400;
  line-height: 14.63px;
  color: #C4C4C4;
}
.footer_menu_input:focus {
  color: #c4c4c4;
}
.footer_menu_button {
  width: 260px;
  height: 40px;
  border-radius: 16px;
  background: rgba(222, 215, 215, 0.4117647059);
  border: transparent;
  font-family: "Montserrat";
  cursor: pointer;
}

.main_box_catalog {
  background-image: url(images/main_images/catalog_bgi.jpg);
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
}

.main_text_catalog h1 {
  padding-top: 128px;
  font-size: 64px;
  font-weight: 600;
  line-height: 70px;
  color: #fff;
}

.catalog_box {
  padding-top: 64px;
  display: flex;
  justify-content: space-between;
}
.catalog_left {
  display: flex;
}
.catalog_left_links {
  text-decoration: none;
  color: #000;
}
.catalog_left_p {
  padding-left: 10px;
  padding-right: 10px;
}
.catalog_right {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.catalog_right_select {
  position: relative;
  width: 182px;
}
.catalog_right_select select {
  display: block;
  width: 100%; /* от ширины блока div */
  height: 40px;
  background: none; /* убираем фон */
  border: 1px solid #ccc; /* рамка */
  border-radius: 20px; /* скругление полей формы */
  -webkit-appearance: none; /* Chrome */
  -moz-appearance: none; /* Firefox */
  appearance: none; /* убираем дефолнтные стрелочки */
  font-size: 16px;
  font-weight: 500;
  line-height: 19.5px;
  color: #000;
  padding-left: 23px;
  padding-right: 22px;
  font-family: "Montserrat";
}
.catalog_right_select:after {
  content: "";
  display: block;
  pointer-events: none;
  position: absolute;
  top: 50%;
  right: 1rem;
  z-index: 1;
  margin-top: -5px;
  background-image: url(images/catalog_images/arrow.svg);
  background-size: contain;
  width: 20px;
  height: 11px;
  background-repeat: no-repeat;
}
.catalog_right_select_second {
  width: 227px;
}

@keyframes shake-bottom {
  0% {
    transform: rotate(0deg);
    transform-origin: 50% 100%;
  }
  100% {
    transform: rotate(0deg);
    transform-origin: 50% 100%;
  }
  10% {
    transform: rotate(2deg);
  }
  20% {
    transform: rotate(-4deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  60% {
    transform: rotate(-4deg);
  }
  30% {
    transform: rotate(4deg);
  }
  50% {
    transform: rotate(4deg);
  }
  70% {
    transform: rotate(4deg);
  }
  80% {
    transform: rotate(-2deg);
  }
  90% {
    transform: rotate(2deg);
  }
}
.main_box_cart {
  height: 400px;
  background-image: url(images/main_images/cart_bgi.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.main_text_cart {
  padding-top: 128px;
}
.main_text_cart h1 {
  font-size: 64px;
  font-weight: 600;
  line-height: 70px;
  color: #fff;
}

.cart_box {
  padding-top: 64px;
}

.cart_content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 33px;
}

.cart_left {
  grid-column: span 8;
}
.cart_left_box {
  border-top: 0.5px solid #CACDD8;
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 32px;
}
.cart_left_info {
  display: flex;
}
.cart_left_info_box {
  padding-left: 32px;
}
.cart_left_top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 14px;
}
.cart_left_top_text {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
}
.cart_left_top_text_second {
  padding-right: 27px;
}
.cart_left_img {
  height: 173px;
}
.cart_left_name {
  font-size: 24px;
  font-weight: 500;
  line-height: 29.26px;
}
.cart_left_text {
  padding-top: 14px;
  width: 276px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 17.07px;
  color: #888888;
}
.cart_left_price {
  padding-top: 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.5px;
}
.cart_left_button {
  padding-top: 15px;
  display: flex;
  gap: 30px;
}
.cart_left_button_links {
  font-size: 14px;
  font-weight: 400;
  line-height: 29.4px;
  text-align: center;
  text-decoration-line: underline;
  color: #000;
}
.cart_left_input {
  width: 71px;
  height: 51px;
  border-radius: 6px;
  border: transparent;
  background: #F7F6F6;
  outline: none;
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 600;
  line-height: 29.4px;
  text-align: center;
  padding-left: 16px;
  padding-right: 16px;
  box-sizing: border-box;
}
.cart_buttons {
  padding-top: 18px;
  display: flex;
  -moz-column-gap: 7px;
       column-gap: 7px;
}
.cart_buttons_links {
  width: 200px;
  height: 37px;
  border-radius: 50px;
  border: 1px solid black;
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 17.07px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #000;
  transition: all 0.3s;
}
.cart_buttons_links:hover {
  background-color: #000;
  color: #fff;
}
.cart_buttons_links_result {
  width: 290px;
  height: 41px;
  animation: shake-bottom 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) 2s both;
}
.cart_buttons_links_result_box {
  padding-top: 18px;
  display: flex;
  justify-content: center;
}
.cart_right {
  grid-column: span 4;
}
.cart_right_box {
  width: 379px;
  height: 556px;
  background: #F7F6F6;
  border-radius: 20px;
}
.cart_right_text h1 {
  padding-top: 42px;
  font-size: 24px;
  font-weight: 700;
  line-height: 29.26px;
  display: flex;
  justify-content: center;
}
.cart_right_text h4 {
  padding-top: 64px;
  font-size: 24px;
  font-weight: 400;
  line-height: 29.26px;
  display: flex;
  justify-content: center;
}
.cart_right_text span {
  font-size: 24px;
  font-weight: 500;
  line-height: 29.26px;
  font-family: "Montserrat";
}
.cart_right_input {
  width: 288px;
  background: transparent;
  border: none;
  outline: none;
  padding-bottom: 3px;
  border-bottom: 0.5px solid #CACDD8;
}
.cart_right_input::-moz-placeholder {
  font-family: "Montserrat";
}
.cart_right_input::placeholder {
  font-family: "Montserrat";
}
.cart_right_input_box {
  display: flex;
  flex-direction: column;
  row-gap: 41px;
  padding-top: 35px;
  padding-left: 27px;
}

@media (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 393px);
    padding-right: calc(50% - 393px);
  }
  .product_content {
    gap: 29px;
  }
  .footer_menu_zero {
    display: none;
  }
}
@media (max-width: 1024px) {
  .cart_content {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
  }
  .cart_left {
    grid-column: span 8;
  }
  .cart_right {
    grid-column: span 4;
  }
}
@media (max-width: 767px) {
  .center {
    padding-left: calc(50% - 168px);
    padding-right: calc(50% - 168px);
  }
  .head {
    display: none;
  }
  .head_mobile {
    display: flex;
    -moz-column-gap: 116px;
         column-gap: 116px;
    padding-top: 48px;
  }
  .head_mobile_logo {
    width: 99px;
  }
  .head_mobile_logo_img {
    width: 99px;
  }
  .head_mobile_links_box {
    display: flex;
    -moz-column-gap: 32px;
         column-gap: 32px;
  }
  .main_text {
    padding-top: 29px;
    text-align: center;
  }
  .main_text h1 {
    font-size: 48px;
    font-weight: 600;
    line-height: 58.51px;
  }
  .main_text p {
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
  }
  .main_text a {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    text-decoration-line: underline;
  }
  .furniture_for {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .furniture_for_box {
    padding-top: 32px;
  }
  .furniture_for_item {
    width: 343px;
  }
  .furniture_for_item_text {
    font-size: 24px;
    font-weight: 600;
    line-height: 29.26px;
  }
  .product_special {
    font-size: 24px;
    font-weight: 600;
    line-height: 29.26px;
    width: 178px;
    height: 29px;
  }
}/*# sourceMappingURL=style.css.map */