 @keyframes shake-bottom {
    0% {
        transform: rotate(0deg);
        transform-origin: 50% 100%;
      }
    100% {
      transform: rotate(0deg);
      transform-origin: 50% 100%;
    }
    10% {
      transform: rotate(2deg);
    }
    20% {
        transform: rotate(-4deg);
      }
    40% {
        transform: rotate(-4deg);
      }
    60% {
      transform: rotate(-4deg);
    }
    30% {
        transform: rotate(4deg);
      }
    50% {
        transform: rotate(4deg);
      }
    70% {
      transform: rotate(4deg);
    }
    80% {
      transform: rotate(-2deg);
    }
    90% {
      transform: rotate(2deg);
    }
  }
  


.main_box_cart {
    height: 400px;
    background-image: url(images/main_images/cart_bgi.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.main_text_cart {
    padding-top: 128px;
    
    h1{font-size: 64px;
    font-weight: 600;
    line-height: 70px;
    color: #fff;
    }
}

.cart_box {
    padding-top: 64px;
}

.cart_content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 33px;
}

.cart {
    &_left {
        grid-column: span 8;

        &_box {
            border-top: 0.5px solid #CACDD8;
            display: flex;
            justify-content: space-between;
            padding-top: 25px;
            padding-bottom: 32px;
        }

        &_info {
            display: flex;

            &_box {
                padding-left: 32px;
            }
        }

        &_top {
            display: flex;
            justify-content: space-between;
            padding-bottom: 14px;

            &_text {
                font-size: 16px;
                font-weight: 400;
                line-height: 19.5px;

                &_second {
                    padding-right: 27px;
                }
            }
        }

        &_img {
            height: 173px;
        }

        &_name {
            font-size: 24px;
            font-weight: 500;
            line-height: 29.26px;
        }

        &_text {
            padding-top: 14px;
            width: 276px;
            font-family: Montserrat;
            font-size: 14px;
            font-weight: 400;
            line-height: 17.07px;
            color: #888888;
        }

        &_price {
            padding-top: 16px;
            font-size: 16px;
            font-weight: 500;
            line-height: 19.5px;        
        }

        &_button {
            padding-top: 15px;
            display: flex;
            gap: 30px;

            &_links {
                font-size: 14px;
                font-weight: 400;
                line-height: 29.4px;
                text-align: center;
                text-decoration-line: underline;             
                color: #000;
            }
        }

        &_input {
            width: 71px;
            height: 51px;
            border-radius: 6px;
            border: transparent;  
            background: #F7F6F6;
            outline: none; 
            font-family: 'Poppins';
            font-size: 14px;
            font-weight: 600;
            line-height: 29.4px;
            text-align: center;
            padding-left: 16px;
            padding-right: 16px;
            box-sizing: border-box;     
        }
    }

    &_buttons {
        padding-top: 18px;
        display: flex;
        column-gap: 7px;

        &_links {
            width: 200px;
            height: 37px;
            border-radius: 50px;
            border: 1px solid black;
            display: block;
            font-size: 14px;
            font-weight: 400;
            line-height: 17.07px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            color: #000;
            transition: all 0.3s;

            &:hover {
                background-color: #000;
                color: #fff;
            }

            &_result {
                width: 290px;
                height: 41px;
                animation: shake-bottom 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) 2s both;

                &_box {
                    padding-top: 18px;
                    display: flex;
                    justify-content: center;
                }
            }
        }
    }

    &_right {
        grid-column: span 4;

        &_box {
            width: 379px;
            height: 556px;
            background: #F7F6F6;
            border-radius: 20px;
        }

        &_text {
            h1{
                padding-top: 42px;
                font-size: 24px;
                font-weight: 700;
                line-height: 29.26px;
                display: flex;
                justify-content: center;
            }

            h4{
                padding-top: 64px;
                font-size: 24px;
                font-weight: 400;
                line-height: 29.26px;
                display: flex;
                justify-content: center;         
            }
            
            span {
                font-size: 24px;
                font-weight: 500;
                line-height: 29.26px;
                font-family: 'Montserrat';      
            }
        }

        &_input {
            width: 288px;
            background: transparent;
            border: none;
            outline: none;
            padding-bottom: 3px;
            border-bottom: 0.5px solid #CACDD8;

            &::placeholder {
                font-family: 'Montserrat';
            }


            &_box {
                display: flex;
                flex-direction: column;
                row-gap: 41px;
                padding-top: 35px;
                padding-left: 27px;
            }
        }
    }
}