* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.main_box {
    height: 735px;
    background-repeat: no-repeat;
    background-image: url(images/main_images/main_bgi.jpg);
    background-position: center;
    background-size: cover;
}

.head {
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.5px solid #fff;

    &_logo {
        width: 198px;
        height: 44px;
        
        &_img {
            padding-top: 4px;
        }
    }

    &_input {
        width: 288px;
        height: 41px;
        border-radius: 20px;
        border: 1px solid #fff;
        background-color: transparent;
        padding-left: 32px;
        padding-right: 32px;
        box-sizing: border-box;
        outline: none;
        color: #fff;

        &::placeholder {
            color: #fff;
            font-family: 'Montserrat';
            font-size: 16px;
            font-weight: 400;
            line-height: 19.5px;
        }
    }

    &_links {
        text-decoration: none;
        font-size: 16px;
        font-weight: 400;
        line-height: 19.5px;
        color: #fff;

        &_box {
            display: flex;
            gap: 32px;
        }
    }
}

.main_text {
    padding-top: 64px;

    h1{
        font-size: 64px;
        font-weight: 600;
        line-height: 70px;
        color: #fff;
        padding-bottom: 16px;
    }

    p {
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;  
        color: #fff;   
        padding-bottom: 16px;          
    }

    a {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
        text-decoration-line: underline;
        color: #fff;
    }
}

.furniture_for_box {
    padding-top: 64px;
}

.furniture_for {
    padding-top: 32px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    height: 856px;
    column-gap: 32px;
    row-gap: 32px;

    &_item {
        grid-column: span 4;
        height: 415px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 34px;
        font-weight: 600;
        line-height: 41.45px;
        color: #fff;

        &_text {
            font-size: 48px;
            font-weight: 600;
            line-height: 58.51px;       
        }
    
        &_1 {
            background-image: url(images/furniture_for/first.jpg);
        }
        &_2 {
            background-image: url(images/furniture_for/second.jpg);
        }
        &_3 {
            background-image: url(images/furniture_for/third.jpg);
        }
        &_4 {
            background-image: url(images/furniture_for/fourth.jpg);
        }
        &_5 {
            background-image: url(images/furniture_for/fifth.jpg);
        }

        &_bigger {
            grid-column: span 6;
        }
    }
}


.product_box {
    padding-top: 64px;
}

.product_content {
    display: flex;
    column-gap: 32px;
    row-gap: 56px;
    padding-top: 32px;
    flex-wrap: wrap;
}

.product {
    width: 378px;

    &_special {
        font-size: 48px;
        font-weight: 600;
        line-height: 58.51px;
    }

    &_img {
        height: 250px;
    }

    &_name {
        padding-top: 10px;
        font-size: 24px;
        font-weight: 500;
        line-height: 29.26px;      
    }

    &_text {
        padding-top: 8px;
        font-size: 14px;
        font-weight: 400;
        line-height: 17.07px;
        color: #888;
    }

    &_price {
        font-size: 24px;
        font-weight: 500;
        line-height: 29.26px;

        &_sale {
            font-size: 24px;
            font-weight: 500;
            line-height: 29.26px;
            text-align: left;
            text-decoration-line: line-through;
            color: #888;
        }

        &_box {
            display: flex;
            column-gap: 32px;
            padding-top: 12px;
        }
    }
}